.main-page{
    width: 100%;
    height: 100%;
    padding: 0 60px;
    .main-up{
        height: 65%;
        display: flex;
    }
    .main-income{
        top: -20px;
        width: 22.5%;
        display: flex;
        position: relative;
        height: calc(~"100% + 20px");
    }
    .income-img{
        width: 100%;
    }
    .main-info-chart{
        width: 77.5%;
        height: 100%;
        display: flex;
        padding-left: 70px;
        flex-direction: column;
        .main-info{
            width: 100%;
            height: 50%;
        }
        .main-chart{
            width: 100%;
            height: 50%;
            display: flex;
            .main-chart-item{
                width: 25%;
                height: 100%;
            }
        }
    }
    .main-down{
        width: 100%;
        height: 35%;
        border: 1px solid #ccc;
    }
}