.header-page{
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    img{
        width: 100%;
    }
    .header-title{
        top: 50%;
        left: 50%;
        color: #fff;
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .header-title1{
        font-size: clamp(30px, 1.8vw, 60px);
    }
    .header-title2{
        font-size: clamp(20px, 1vw, 35px);
    }
    .header-left{
        top: 15%;
        left: 50px;
        color: #fff;
        font-size: clamp(23px, 1.2vw, 35px);
        position: absolute;
    }
    .header-right{
        top: 15%;
        right: 50px;
        color: #fff;
        font-size: clamp(23px, 1.2vw, 35px);
        position: absolute;
    }
}